<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div>
      <h3 class="masthead-name">News Scraper</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="https://prince0ftime.github.io/Updated-Portfolio/index.html"
          target="_blank">Portfolio</a>
          
      </nav>
    </div>
  </header>

  <main role="main">
    <h1 class="cover-heading">Welcome to News Scraper for nytimes</h1>
    <a class="btn btn-primary" href="/scrape">Scrape New Articles</a>
        <a id="dataDelete" class="btn btn-primary">Delete Article Data</a>



<!-- Modal -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Note:</p>
      <div class="note"></div>
            

          <input placeholder="Note: Title" class="titleinput form-control" aria-describedby="inputGroup-sizing-sm">
          <input placeholder="Note:" class="bodyinput form-control"aria-describedby="inputGroup-sizing-sm">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="savenote" class="btn btn-primary">Save changes</button>
        <button type="button" id="noteDelete" class="btn btn-danger">Delete Note</button>

      </div>
    </div>
  </div>
</div>
    <div id="Articles">
      {{#each Article}}


      <div class="card acard {{_id}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{text}}</p>
          <a href="{{link}}" target="_blank" class="btn btn-primary">article</a>
          <a id="noteBtn" data-id={{_id}} class="btn btn-primary">Notes</a>

        </div>
      </div>
        {{/each}}
    </div>

  </main>
</div>